.social-login
    button
        span.social-logoin--github
            i.fab.fa-github
        |&nbsp;Continue with Github
    button.social-logoin--facebook
        span 
            i.fab.fa-facebook
        |&nbsp;Continue with Facebook
    button
        span.social-logoin--google 
            i.fab.fa-google
        |&nbsp;Continue with Google  